@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(253, 254, 246);
}


ul.Horizontal-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    float:right;
    top: 0;
}
  
li {
    float: left;
    border-right: 1px solid black;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #54e085;
  }
  
.active {
    background-color: #04AA6D;
  }

.title-of-page{
    display:flex
}