@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(253, 254, 246);
}

.top-row-container{
    display:flex;
    background-color: rgb(1, 146, 8);
    gap: 100px;
    padding-left: 18px;
    padding-right:18px;
    /* flex: 1; */
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}